:root {
  --background-color: #f2e7dc;
  --main-color: #223240;
  --ascend-color: #3b5f58; /* Rich green for cards */
  --hover-highlight: #47a78c; /* Bright green highlight for hover */
  --text-color: #ffffff; /* White for text */
  --card-shadow: rgba(0, 0, 0, 0.2);
  --primary-color: #265c4b;
  --secondary-color: #bf3641;
  --accent-color: #e69522;
  --text-color-dark: #223240;
  --text-color-light: #ffffff;
}

/* Main Page */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.hide--display {
  display: none !important;
}

.box {
  margin: 0 auto;
  max-width: 376px;
  background-color: var(--background-color);
  color: var(--main-color);
}

.page {
  height: 100vh;
  overflow-y: hidden;
}

.main__company {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
  gap: 16px;
}

.main__company--img {
  width: 160px;
  height: auto;
}

.main__company--header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-transform: uppercase;
  width: 100%;
}

.main__company--header--main {
  font-size: 36px;
  font-weight: 600;
}

.main__company--header--sub {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.6px;
  padding: 12px 0;
  background-color: var(--main-color);
  color: var(--background-color);
}

.main__features {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  align-items: center;
}

.main__features--fig {
  padding: 8px;
  width: 84px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.main__features--btn {
  width: 65%;
  font-size: 24px;
  color: var(--background-color);
  background-color: var(--main-color);
  padding: 8px;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.main__features--caption {
  text-align: center;
  font-size: 12.5px;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 400;
}

/* Promotion */

.promotion__goto {
  padding: 8px 12px;
  font-size: 16px;
  background-color: var(--main-color);
  color: var(--background-color);
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.promotion__move {
  position: absolute;
  top: 16px;
  right: 16px;
}

.promotion__back {
  padding: 8px 12px;
  font-size: 16px;
  background-color: var(--secondary-color);
  color: var(--background-color);
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

:root {
  --background-color: #f9f9f9;
  --primary-color: #265c4b;
  --secondary-color: #bf3641;
  --accent-color: #e69522;
  --text-color-dark: #223240;
  --text-color-light: #ffffff;
}

.promotion {
  padding: 36px 24px;
  background-color: var(--background-color);
  text-align: center;
}

.promotion__lines {
  margin-bottom: 24px;
}

.promotion__lines--header {
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-color);
  margin: 0;
  margin-top: 24px;
}

.promotion__lines--sub {
  font-size: 24px;
  font-weight: 500;
  color: var(--secondary-color);
  margin: 18px 0;
}

.promotion__command {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}

.promotion__command--order {
  font-size: 20px;
  font-weight: 600;
  color: var(--accent-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main__company--img {
  width: 160px;
  height: auto;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 24px;
}

.main__company--img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Ascend Feature */
.ascend {
  padding: 36px 24px;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ascend__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
  justify-content: center;
}

.ascend__grid--card {
  padding: 16px;
  background-color: var(--ascend-color);
  color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 16px;
  position: relative;
  /* overflow: hidden; */
  box-shadow: 0 4px 8px var(--card-shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  z-index: 1;
}

.ascend__grid--card:hover {
  transform: translateX(10px) translateY(-10px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
  border: 2px solid var(--hover-highlight);
  color: var(--text-color);
}

.ascend__grid--img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  transition: filter 0.3s, transform 0.5s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 2;
  filter: brightness(0.85);
}

.ascend__grid--card:hover .ascend__grid--img {
  transform: scale(1.5) translateX(-10px) translateY(-20px) rotate(-5deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  filter: brightness(1);
}

.ascend__grid--name {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 1;
}

.ascend__grid--list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0;
  padding: 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.ascend__grid--card:hover .ascend__grid--list {
  opacity: 1;
  transform: translateY(0);
}

.ascend__grid--item {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
}

/* Adding a glowing effect around the card on hover */
.ascend__grid--card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  background: radial-gradient(circle, rgba(71, 167, 140, 0.2), transparent);
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 0;
}

.ascend__grid--card:hover::before {
  opacity: 1;
  transform: scale(1.1);
}

.ascend__move {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.ascend__move--alt--1 {
  top: 84px;
}

/* Accordion */
.accordion.page {
  padding-top: 96px;
  background-color: var(--background-color);
}

.accordion__img {
  display: flex;
  justify-content: center;
  padding: 24px;
  display: none;
}

.accordion__img img {
  width: 128px;
  height: auto;
}

.accordion__move {
  position: absolute;
  top: 28px;
  right: 28px;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
  padding: 84px 16px;
}

.card-container {
  perspective: 1000px; /* For 3D effect */
  margin: 0 auto;
}

.card {
  width: 8.5rem;
  height: 14rem;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 0.6s ease-in-out;
}

.card:hover {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hides the back when front is visible */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.card-front {
  background: #f8f9fa;
}

.card-back {
  background: #fff;
  transform: rotateY(180deg); /* Flip the back side */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-img-top {
  /* width: 100%; */
  height: 100%;
  width: auto;
}

.card-title {
  font-size: 14px;
  margin-bottom: 8px;
  text-align: center;
}

.card-text {
  font-size: 12px;
  text-align: center;
  padding: 0 4px;
}

/* Bar */
.bar__navbar {
  background-color: var(--secondary-color);
  color: white;
  z-index: 10;
}

.bar__navbar a {
  color: white;
  text-decoration: none;
}

.bar__navbar.fixed-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.bar__section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center;
}

.bar__section img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
